{% extends 'base.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
    <h1>Edit Mission</h1>
    {{ include('mission/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="{{ path('mission_list') }}">back to list</a>
        </div>
        <div class="col-md-2">
            <div class="col-md-2">
                <a class="btn btn-danger" href="{{ path('mission_delete', {'id': mission.id}) }}">delete</a>
            </div>
        </div>
    </div>


{% endblock %}
